<!-- Header -->
<header id="header">
  <h1>Lens</h1>
  <p>
    Just another fine responsive site template by
	<%= link_to 'HTML5 UP', "http://html5up.net" %>
  </p>
  <ul class="icons">
    <li>
      <%= link_to "#", class: "icon brands fa-twitter" do %>
        <span class="label">Twitter</span>
      <% end %>
    </li>
    <li>
      <%= link_to "#", class: "icon brands fa-instagram" do %>
        <span class="label">Instagram</span>
      <% end %>
    </li>
    <li>
      <%= link_to "#", class: "icon brands fa-github" do %>
        <span class="label">Github</span>
      <% end %>
    </li>
    <li>
      <%= link_to "#", class: "icon fa-envelope" do %>
        <span class="label">Email</span>
      <% end %>
    </li>
  </ul>
</header>
